
/* {
  font-family: "Cormorant Garamond", serif;
  font-family: "Dancing Script", cursive;
  font-family: "Ephesis", cursive;
  font-family: "Source Serif Pro", serif;
  font-family: 'Source Sans Pro', sans-serif;
} */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
}

